.center
    flex-wrap wrap

img
    margin-left -24px
    height auto

@media (max-width: 600px)
    img
        margin-left -16px

h2
    text-align center

h3
    margin-top 0

.mat-card
    margin 5px