<h2>10. September 2010</h2>
<div class="center">
    <md-card>
        <md-card-header>
            <md-card-title><h3>Local</h3></md-card-title>
        </md-card-header>
        <img md-card-image src="assets/tanz_default.jpg" alt="Dance">
        <md-card-content>
            <p>Party</p>
        </md-card-content>
        <md-card-actions>
            <button md-button>
                <i class="material-icons">bookmark</i>
                <span>Website</span>
            </button>
            <button md-button>
                <i class="material-icons">share</i>
                <span>Facebook</span>
            </button>
            <button md-button>
                <i class="material-icons">map</i>
                <span>Map</span>
            </button>
        </md-card-actions>
    </md-card>
    <md-card>
        <md-card-header>
            <md-card-title><h3>Local</h3></md-card-title>
        </md-card-header>
        <img md-card-image src="assets/tanz_chacha.jpg" alt="Dance">
        <md-card-content>
            <p>Party</p>
        </md-card-content>
        <md-card-actions>
            <button md-button>
                <i class="material-icons">bookmark</i>
                <span>Website</span>
            </button>
            <button md-button>
                <i class="material-icons">share</i>
                <span>Facebook</span>
            </button>
            <button md-button>
                <i class="material-icons">map</i>
                <span>Map</span>
            </button>
        </md-card-actions>
    </md-card>
    <md-card>
        <md-card-header>
            <md-card-title><h3>Local</h3></md-card-title>
        </md-card-header>
        <img md-card-image src="assets/tanz_default.jpg" alt="Dance">
        <md-card-content>
            <p>Party</p>
        </md-card-content>
        <md-card-actions>
            <button md-button>
                <i class="material-icons">bookmark</i>
                <span>Website</span>
            </button>
            <button md-button>
                <i class="material-icons">share</i>
                <span>Facebook</span>
            </button>
            <button md-button>
                <i class="material-icons">map</i>
                <span>Map</span>
            </button>
        </md-card-actions>
    </md-card>
</div>