<md-list>
    <h3 md-subheader>Cha Cha Cha</h3>
    <img md-card-image src="assets/tanz_chacha.jpg" alt="Cha Cha Cha">
    <md-list-item>
        <!--md-icon md-list-icon>folder</md-icon-->
        <h4 md-line>Partyname</h4>
        <p md-line>10.8.2018</p>
        <p md-line>Straße x, Stadt</p>
    </md-list-item>
    <md-divider></md-divider>
    <h3 md-subheader>Sonstiges</h3>
    <img md-card-image src="assets/tanz_default.jpg" alt="Sonstiges">
    <md-list-item>
        <!--md-icon md-list-icon>note</md-icon-->
        <h4 md-line>Partyname</h4>
        <p md-line>10.8.2018</p>
        <p md-line>Straße x, Stadt</p>
    </md-list-item>
</md-list>