<md-toolbar color="primary">
    <span>
        <a routerLink="/" routerLinkActive="active">Application</a>
    </span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>
        <button md-button routerLink="/cities">
            <i class="material-icons">location_city</i>
            <span>Städte</span>
        </button>
    </span>

    <span *ngIf="!(model | async).user">
        <button md-button routerLink="/login">
            <i class="material-icons">person</i>
            <span>Login</span>
        </button>
        <button md-button routerLink="/registration">
            <i class="material-icons">person_add</i>
            <span>Registration</span>
        </button>
    </span>
    <span *ngIf="(model | async).user">
        <button md-button routerLink="/user">
            <i class="material-icons">person</i>
            <span>Account</span>
        </button>
        <button md-button (click)="logout()">
                <i class="material-icons">exit_to_app</i>
            <span>Logout</span>
        </button>
    </span>

    <span>
        <button md-button routerLink="/contact">
            <i class="material-icons">info_outline</i>
            <span class="visible">Kontakt</span>
        </button>
    </span>
</md-toolbar>
<router-outlet></router-outlet>