<div class="center">
    <md-card>
        <md-card-header>
            <div md-card-avatar><i class="material-icons">pin_drop</i></div>
            <md-card-title>Berlin</md-card-title>
        </md-card-header>
        <img md-card-image src="assets/berlin.jpg" alt="Berlin">
        <md-card-content>
            <p>10.5 Eventname</p>
            <p>12.6 Eventname</p>
            <p>17.6 Eventname</p>
        </md-card-content>
        <md-card-actions>
                <button md-button (click)="route()">Events this week</button>
                <button md-button (click)="route()">All events</button>
        </md-card-actions>
    </md-card>
    <md-card>
        <md-card-header>
            <div md-card-avatar><i class="material-icons">pin_drop</i></div>
            <md-card-title>Frankfurt</md-card-title>
        </md-card-header>
        <img md-card-image src="assets/frankfurt.jpg" alt="Berlin">
        <md-card-content>
            <p>10.5 Eventname</p>
            <p>12.6 Eventname</p>
            <p>17.6 Eventname</p>
        </md-card-content>
        <md-card-actions>
            <button md-button (click)="route()">Events this week</button>
            <button md-button (click)="route()">All events</button>
        </md-card-actions>
    </md-card>
    <md-card>
        <md-card-header>
            <div md-card-avatar><i class="material-icons">pin_drop</i></div>
            <md-card-title>München</md-card-title>
        </md-card-header>
        <img md-card-image src="assets/muenchen.jpg" alt="Berlin">
        <md-card-content>
            <p>10.5 Eventname</p>
            <p>12.6 Eventname</p>
            <p>17.6 Eventname</p>
        </md-card-content>
        <md-card-actions>
                <button md-button (click)="route()">Events this week</button>
                <button md-button (click)="route()">All events</button>
        </md-card-actions>
    </md-card>
    <md-card>
        <md-card-header>
            <div md-card-avatar><i class="material-icons">pin_drop</i></div>
            <md-card-title>Stuttgart</md-card-title>
        </md-card-header>
        <img md-card-image src="assets/stuttgart.jpg" alt="Berlin">
        <md-card-content>
            <p>10.5 Eventname</p>
            <p>12.6 Eventname</p>
            <p>17.6 Eventname</p>
        </md-card-content>
        <md-card-actions>
                <button md-button (click)="route()">Events this week</button>
                <button md-button (click)="route()">All events</button>
        </md-card-actions>
    </md-card>
</div>