.center
    flex-wrap wrap

.mat-card-title
    font-size 25px
    cursor pointer

i, img
    cursor pointer

.mat-card
    margin 20px

.pin
    position relative
    top 5px

.deactivated
    color lightgray
    cursor inherit

.like 
    color rgba(254,54,54,0.8)