@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"

html, body
    margin 0
    padding 0
    font-family Roboto, sans-serif // TODO: remove bad hack

a
    text-decoration none

.center
    justify-content center
    display flex

.mat-form-field
    width 100%